<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>OAuth Tutorials</title>
    <style>
        body {
            font-family: arial;
            margin: 0;
        }

        nav {
            background: #539dff;
            padding: 20px 10px;
        }

        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }

        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }

        nav a {
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }

        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Homepage</a></li>
            <% if(user){%>
                <li><a href="/auth/logout">Logout</a></li>
                <% } else  { %>
                    <li><a href="/auth/login">Login</a></li>
                    <% } %>
                        <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>

        <h2>Homepage</h2>
    </header>
    <main>
        <p>Passport is authentication middleware for Node.js. Extremely flexible and modular, Passport can be unobtrusively
            dropped in to any Express-based web application. A comprehensive set of strategies support authentication using
            a username and password, Facebook, Twitter, and more.</p>
    </main>
</body>

</html>